* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.whole {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    
}